{{! site footer }}
<footer class="u-full-width site-footer">
	<div class="row">
		<div class="six columns u-align-left">
			<span><i class="fa fa-copyright"></i> <a href="{{@blog.url}}">{{@blog.title}}</a></span>
		</div>
		<div class="six columns u-align-right">
			<span>Proudly published with <a href="https://ghost.org">Ghost</a></span>
		</div>
	</div>
</footer>