{{! site footer }}

<footer class="u-full-width site-footer clearfix">
	<div class="u-pull-left">
		<span><a href="{{@blog.url}}"><strong>{{@blog.title}}</strong></a> <i class="fa fa-copyright"></i> 2015</span>		
	</div>
	<div class="u-pull-right">
		<span>Proudly published with <a href="https://ghost.org"><strong>Ghost</strong></a></span>
	</div>
</footer>