{{! site footer }}
<footer class="u-full-width nttld--site-footer u-cf">
	<div class="u-pull-left">
		<span>
			<a href="{{@blog.url}}"><strong>{{@blog.title}}</strong></a> - 2015
		</span>
	</div>
	<div class="u-pull-right">
		<span>
			Proudly published with
			<a href="https://ghost.org"><strong>Ghost</strong></a>
		</span>
	</div>
</footer>