{{! site navigation }}
<div class="site-navigation-holder">
	<div class="container">
		<button type="button" class="nav-toggle"><i class="fa fa-bars"></i>&nbsp;MENU</button>
		<div class="row">
			<div class="twelve columns">
				<ul class="nav-site nav-list clearfix">
					{{#foreach navigation}}
					<li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation">
						<a href="{{url absolute="true"}}">{{label}}</a>
					</li>
					{{/foreach}}
				</ul>
			</div>
		</div>
	</div>
</div>
