{{! site navigation }}
<div class="u-full-width nttld--site-navigation">
	<div class="container">
		<div class="row">
			<div class="twelve columns">
				<nav>
					<button type="button" class="nttld--nav-toggle nttld--button-reset">
						<i class="fa fa-fw fa-bars"></i> Menu
					</button>
					<ul class="nttld--nav-list">
						{{#foreach navigation}}
						<li class="nttld--nav-{{slug}}{{#if current}} nttld--nav-current{{/if}}" role="presentation">
							<a href="{{url}}" title="{{label}}"><i class="fa fa-fw fa-angle-right"></i> {{label}}</a>
						</li>
						{{/foreach}}
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>