{{!< default}}

<header class="u-full-width nttld--content-header">

	{{#if @blog.cover}}
	<div class="nttld--cover-holder" style="background-image: url({{@blog.cover}})">&nbsp;</div>
	{{/if}}
	<div class="nttld--cover-info {{^if @blog.cover}}nttld--no-cover{{/if}}">
		<div class="container">
			<div class="row">
				<div class="twelve columns">
					<span>
						<i class="fa fa-home" title="{{title}}"></i>
						{{#is "paged"}}
						<span class="nttld--pagination-helper">
							<i class="fa fa-caret-right"></i> page {{pagination.page}} of {{pagination.pages}}
						</span>
						{{/is}}
					</span>
				</div>
			</div>
		</div>
	</div>
	
</header>

{{! index page content }}
<main class="u-full-width" role="main">
	<div class="container">
		
		{{! loop over blog posts (.rows comes from the loop) }}
		{{> "loop" }}
		
	</div>
</main>
