{{!< default}}

{{! home page header }}
<header class="site-header cover-holder u-full-width">
    {{#if @blog.cover}}
    <div class="blog-cover">
        <img src="{{@blog.cover}}" alt="{{@blog.title}}" class="u-full-width">
    </div>
    {{/if}}
</header>

{{! index page }}
<div class="container loop-content">
	
	{{! loop over blog posts }}
	{{> "loop" }}
	
</div>




    

