/*
	-----------------------------------------------
	Overrides
	-----------------------------------------------
*/

// skeleton overrides
html {

	overflow-y: scroll;

}

body {

	font-weight: $font-weight-normal;
	font-family: $font-family;
	color: $color-text-main;

}

a {

	color: $color-links;

	&:hover {

		color: $color-links-hover;

	}

}

hr {

	border-color: $color-gray-light;

}

h1, h2, h3, h4, h5, h6 {

	font-weight: 600;
	position: relative;

	a {

		color: $color-heading-links;
		text-decoration: inherit;
		font-weight: inherit;

		&:hover {

			color: lighten( $color-heading-links, 10% );

		}

	}

}

.container {

	max-width: $width-container-max;

}