/*!
	-----------------------------------------------
	Base Styles & Skeleton Overrides
	-----------------------------------------------
*/


// -----------------------------------------------
// Base Styles
// -----------------------------------------------
html {

	overflow-y: scroll;

}

body {

	font-family: $font-family;
	font-weight: $font-weight-normal;
	color: $color-text-base;

}

a {

	color: $color-links;

	&:hover {

		color: $color-links-hover;

	}

}

h1, h2, h3, h4, h5, h6 {

	color: $color-text-base;

	a {

		color: inherit;
		text-decoration: inherit;
		font-weight: inherit;

		&:hover {

			color: lighten( $color-text-base, 10% );

		}

	}

}

p {

	&.nttld--skip-margin {

		margin-bottom: 0;

	}

}


// -----------------------------------------------
// Horizontal Rules
// -----------------------------------------------
hr {

	border-color: $color-gray-light;

	&.quiet {

		margin-top: 1rem;
		margin-bottom: 1rem;

	}

	&.engraved {

		border-bottom: 1px solid #ffffff;

	}
	
	&.post,
	&.author
	&.tag {

		&::after {

			font-family: $font-icon;
			position: absolute;
			left: 50%;
			margin-left: -11px;
			color: $color-gray-light;
			background: #ffffff;
			margin-top: -12px;
			padding: 0px 4px;
			border-radius: 50%;
			font-size: 14px;

		}

	}

	&.post {

		&::after {

			content: $icon-post;

		}

	}

	&.author {

		&::after {

			content: $icon-author;

		}

	}

	&.tag {

		&::after {

			content: $icon-tag;

		}

	}
	
}


// -----------------------------------------------
// Skeleton Styles
// -----------------------------------------------
.container {

	max-width: $width-container-max;

}


