/*!
	-----------------------------------------------
	Blog Styles
	-----------------------------------------------
*/



// -----------------------------------------------
// wrapper styles
// -----------------------------------------------
#nttld--main-wrapper { /* @in default.hbs */ }



// -----------------------------------------------
// Navigation
// -----------------------------------------------
.nttld--site-navigation {

	border-bottom: 1px solid $color-gray-light;

	nav {

		position: relative;

	}

}

.nttld--nav-toggle {

	float: left;
	padding: 1.6rem 0;

}

.nttld--nav-list {

	background-color: #ffffff;
	list-style: none;
	margin: 0;
	position: relative;
	clear: both;
	border-top: 1px dotted $color-gray-light;
	display: none;

	li {

		display: block;
		clear: both;
		margin: 0;

		&:last-child {

			margin-right: 0;

		}

		a {

			text-decoration: none;
			color: inherit;
			display: block;
			white-space: nowrap;
			padding: 0.8rem 0;

		}

	}

}

.nttld--nav-current {

	font-weight: bold;

}



// -----------------------------------------------
// Buttons
// -----------------------------------------------
.nttld--button-plain {
	
	/*
	// borderless, limited pad button
	border: none;
	padding: 0 10px;
	*/

}

.nttld--button-reset {
	
	/*
	// reset all button (navigation links)
	margin: 0;
	padding: 0;
	border: none;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	text-transform: inherit;
	height: auto;
	color: inherit;
	letter-spacing: normal;
	*/

}




