/*!
	-----------------------------------------------
	Blog Styles
	-----------------------------------------------
*/



// -----------------------------------------------
// Main Wrapper Styles
// -----------------------------------------------
#nttld--main-wrapper { /* @in default.hbs */ }



// -----------------------------------------------
// Navigation
// -----------------------------------------------
.nttld--site-navigation {

	border-bottom: 1px solid $color-gray-light;
	position: relative;
	padding: 2rem 0 1rem;
	z-index: 900;

	.nttld--blog-logo {

		position: relative;
		text-align: center;
		margin-bottom: 1rem;

		a {

			background-color: #ffffff;
			display: block;
			width: $width-blog-logo;
			height: $width-blog-logo;
			border-radius: $width-blog-logo * 0.5;
			overflow: hidden;
			margin: 0 auto;

		}

		img {

			display: block;
			width: $width-blog-logo;
			height: auto;
			@include img-valigned;

		}

	}

	nav {

		position: relative;		
		padding-top: 1rem;
		padding-bottom: 1rem;
		text-align: center;

	}

}

.nttld--nav-list { // <ul> elem

	list-style: none;
	margin: 0;

	li {

		display: inline-block;
		margin: 0;

		a {

			text-decoration: none;
			color: inherit;
			display: block;
			float: left;
			white-space: nowrap;
			padding: 0 1rem;

		}

	}

}

.nttld--nav-current {

	background-color: $color-theme-accent;
	border-radius: 12px;

}



// -----------------------------------------------
// Footer
// -----------------------------------------------
.nttld--site-footer {

	margin-top: 5rem;
	font-size: 1.2rem;
	padding: 1rem 1rem;
	text-align: center;
	color: $color-gray-medium;
	z-index: 600;

	& > div {

		width: 100%;

	}

	a {

		color: inherit;
		font-size: inherit;
		text-decoration: none;

		&:hover {

			text-decoration: underline;
			
		}

	}

}



// -----------------------------------------------
// Blog Cover (home, post, page)
// -----------------------------------------------
.nttld--content-header {

	z-index: 300;
	margin-bottom: 2rem;

}

.nttld--cover-holder {

	height: $heigth-cover-holder-small;
	overflow: hidden;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;

}

.nttld--cover-info {

	padding: 1rem 0;
	background-color: $color-theme-accent;
	font-size: inherit;

	&.nttld--no-cover {

		padding: 2.5rem 0;
		font-size: 2.5rem;


	}

}

.nttld--pagination-helper {

	font-size: 1rem;

}



// -----------------------------------------------
// Post & Loop
// -----------------------------------------------
.nttld--post-content {

	// post details
	
	img {

		@include img-responsive;

	}

}

.nttld--post-header {}

.nttld--meta-header {

	// post content title
	.nttld--post-title {

		margin-bottom: 0; // reset margin to pull meta to up, move bottom margin to meta

	}
	
	.nttld--post-meta {

		margin-bottom: 2rem; // skeleton heading margin

	}

}

.nttld--post-title {}

.nttld--post-excerpt {
	
	.nttld--read-more {

		color: $color-gray-medium;
		display: inline-block;
		padding: 0 4px;

		&:hover {

			padding-left: 5px;

		}

	}

}

.nttld--post-meta {}

.nttld--meta-text {

	// meta texts for post, author, tag
	
	color: $color-gray-medium;

	a {

		color: inherit;
		text-decoration: none;

		&:hover {

			text-decoration: underline;

		}

	}

}

.nttld--post-footer {}

.nttld--post-share {

	text-align: center;
	padding: 2.5rem 0;

	h5 {

		font-weight: $font-weight-dark;

	}

}

.nttld--post-share-links {

	a {

		text-decoration: none;
		color: $color-gray-medium;
		display: inline-block;
		margin: 0 2px;

		&:hover {

			color: $color-gray-dark;

		}

	}

}

.nttld--post-author {

	h5 {

		font-weight: $font-weight-dark;

	}

}

.nttld--info-box {

	text-align: center;
	// border: 1px dashed $color-gray-light;
	padding: 2.5rem;

	.button {

		margin-bottom: 0;

	}

}

.nttld--post-author-image {

	color: $color-gray-medium;

	img {

		width: $width-author-image-post-footer;
		display: inline-block;
		border: 5px solid #ffffff;
		@include box-shadow-light;
		border-radius: 50%;

	}

}

.nttld--author-meta {}



// -----------------------------------------------
// Tag
// -----------------------------------------------
.nttld--tag-meta {

	font-size: 1.5rem;

	.chip {

		float: left;
		background-color: $color-gray-light;
		border-radius: 32px;
		padding: 1rem 2rem;
		line-height: 1;

	}

	h5,
	h6 {

		margin-bottom: 1rem;
		margin-top: 1rem;
		
	}

	p {

		margin-bottom: 0.5rem;
		line-height: 1;
		clear: both;

		&.nttld--tag-meta-description {
			
			margin-bottom: 1rem;

		}

	}

}



// -----------------------------------------------
// Pagination
// -----------------------------------------------
.nttld--pagination {

	position: relative;
	text-align: center;

	a {

		display: block;
		position: absolute;
		top: 0;

	}

}

.nttld--pagination-prev {

	left: 0;

}

.nttld--pagination-next {

	right: 0;
	
}

.nttld--pagination-indicator {

	height: 38px; // same as skeleton buttons
	line-height: 38px;
	color: $color-gray-medium;

}



// -----------------------------------------------
// Buttons
// -----------------------------------------------
.nttld--button-plain {
	
	// borderless, limited pad button
	border: none;
	padding: 0 10px;

}

.nttld--button-reset {

	// reset all button (navigation links)
	margin: 0;
	border: none;
	padding: 0;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	text-transform: inherit;
	height: auto;
	color: inherit;
	letter-spacing: normal;

}



// -----------------------------------------------
// Vİsibility COntrollers
// -----------------------------------------------
.nttld--show-after-750 {

	display: none;

}

