/*!
	-----------------------------------------------
	Variables & Mixins
	-----------------------------------------------
*/


// -----------------------------------------------
// Variables
// -----------------------------------------------

// theme colors
$color-theme-primary: #33C3F0; // skeleton blue
$color-theme-accent: #f3f3f3;

// colors
$color-text-base: #222222; 		// main text and header
$color-links: #1EAEDB; 			// links
$color-links-hover: #0FA0CE; 	// links hover
$color-gray-medium: #aaaaaa; 	// post meta, footer links
$color-gray-light: #e1e1e1; 	// borders, <hr> elements
$color-gray-thin: #f3f3f3; 		// active nav link

// fonts
$font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-icon: "FontAwesome";
$font-weight-normal: 400;

// .container width
$width-container-max: 700px;

// blog logo size
$width-blog-logo: 64px; // assuming user uploads a square logo image

// cover sizes
$heigth-cover-holder-small: 25vh;
$heigth-cover-holder-default: 35vh;
$heigth-cover-holder-medium: 45vh;
$heigth-cover-holder-large: 55vh;

// theme hr icons
$icon-post: "\f069";
$icon-tag: "\f02b";
$icon-author: "\f007";



/*

// colors
// $color-hover-lightener: #333333;
$color-heading-links: #000000;
// $color-gray-dark: #888888; // hover links for #aaaaaa

// main font styles override theese 2 style in case you use another web font with [theme-root]/partials/webfonts.hbs
$font-weight-normal: 400;


// navigation margnis/paddings
// $nav-list-list-element-margin-right: 1.2rem;
// $nav-list-link-padding-top-and-bottom: 1.6rem;


// margin for site sections
// $margin-template-content: 2.25rem;

// theme icons
// $icon-home: "\f015";
// $icon-page: "\f078";
// $icon-header: "\f08d";

*/



// -----------------------------------------------
// Mixins
// -----------------------------------------------
@mixin img-responsive {

	// responsive images
	display: block;
	width: 100%;

}

@mixin img-valigned {

	// in case of idiot user uploaded non-square sikko images
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );

}
