/* skeleton overrides */
.container {
	max-width: 700px;
}
body {
	/*override theese 2 style in case you use another web font with [theme-root]/partials/webfonts.hbs*/
	/*font-weight: 400;*/
	/*font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	color: #000000;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}














